.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.card {
    flex: 1 1 calc(16.66% - 20px);
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #333;
    min-width: 175px;
    height: 350 px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
}

.card-title{
    font-size: 1em;
    margin: 0;
    padding: 10px;
    background-color: #ffcb10;
    color: white;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    text-align: center;
}
.card-text{
    font-size: 1em;
    margin: 0;
    padding: 10px;
    text-align: center;
    min-height: 100px;
    max-height: 100px;
}

.link-button {
    background-color: #920000;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}